<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CaC - Grupo 22</title>
    <link rel="stylesheet" href="/styles/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/css/icons/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
</head>

<body class="container-fluid py-5">        
    
    <%- body %>

    <footer class="fixed-bottom bg-light text-center py-3">
        <div class="container">
            <p class="mb-0">© Julio-2024 CaC - Grupo 22.</p>
        </div>
    </footer>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script>
        const alertElements = document.querySelectorAll('.alert-dismissible');

        alertElements.forEach(alert => {
            // Configurar altura y opacidad iniciales
            alert.style.transition = 'opacity 0.5s, height 0.5s';
            alert.style.opacity = 1;
            alert.style.height = alert.scrollHeight + 'px';

            // Esperar 2 segundos antes de iniciar el fade out
            setTimeout(() => {
                // Reducir la opacidad a 0 en 2 segundos (2000 ms)
                alert.style.transition = 'opacity 5s';
                alert.style.opacity = 0;

                // Después de 2 segundos (2000 ms), iniciar el slide up
                setTimeout(() => {
                    // Ajustar el transition para el slide up
                    alert.style.transition = 'height 0.5s';
                    alert.style.height = 0;

                    // Después de 500 ms, cerrar la alerta (removerla del DOM)
                    setTimeout(() => {
                        alert.style.display = 'none'; // Alternativa: alert.remove() para quitarla completamente del DOM
                    }, 500);
                }, 2000);
            }, 2000);
        });
    </script>    
</body>

</html>