<%- include ('../parciales/header.ejs') %>

<main>
    <%- include ('../parciales/alertas.ejs') %>
    <section class="h-70 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-70">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-12">
                    <%- include ('../parciales/form-agregar-producto.ejs') %>
                </div>
            </div>
        </div>
    </section>
</main>